# assembled executables
*/*.tmx
*/windows_pleb/*.tmx

# nano swapfiles
*/*.swp

# rust crap
**/Cargo.lock
target/


# except this one
!*/no_asm.tmx
!*/windows_pleb/no_asm.tmx

# python stuff
__pycache__

.cache
